@font-face {
    font-family: "CNstrokeorder";
    src: url("_CNstrokeorder.ttf") format("truetype");
}

.card {
    font-size: 1.2rem;
    text-align: center;
    color: black;
    background-color: white;
}

.pinyin {
    word-wrap: break-word;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0px;
}

.pinyin2 {
    word-wrap: break-word;
    font-size: 1rem;
    margin: 0px;
}

#strokeOrder {
    text-align: center;
    font-family: CNstrokeorder;
    color: #002626;
    font-size: 300px;
    display: none;
}

.nightMode #strokeOrder {
    color: #dbffff;
}

#diagram {
    outline-color: black;
    outline-style: solid;
    outline-width: 1px;
    outline-offset: -1px;
}

.nightMode #diagram {
    outline-color: white;
}

.meta {
    margin: 8px 0;
    font-size: 1.3rem;
}

.ruby-text {
    line-height: 1.7;
}

.notes {
    text-align: left;
    max-width: 500px;
    margin: 8px auto;
}

#hint-button {
    margin: 0;
}